<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form action="/signUpProc" method="post" name="signUpForm">
      <label>
          <input type="text" name="email" placeholder="email"/>
      </label>
      <label>
          <input type="password" name="password" placeholder="Password"/>
      </label>
      <label>
          <input type="text" name="name" placeholder="name"/>
      </label>
      <label>
          <input type="text" name="addr" placeholder="addr"/>
      </label>
    <input type="submit" value="signUp"/>
  </form>
</body>
</html>